<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/head.html :: head(#{common.header})"></div>
</head>
<body>
	<div class="container">
		<header>
			<img th:src="@{/images/rubik.png}" alt="Rubik" />
			<h1 th:text="#{home.welcome}"></h1>
		</header>
		<div class="user">
			<div th:inline="text">[[${#httpServletRequest.remoteUser}]]</div>
			<br>
			<span th:if="${#httpServletRequest.remoteUser}">
				<form method="POST" th:action="@{/logout}" id="logoutForm">
					<input type="submit" th:value="#{common.logout}" />
				</form>
			</span>
			<span th:unless="${#httpServletRequest.remoteUser}">
				<form method="GET" th:action="@{/login}">
					<input type="submit" th:value="#{common.login}" />
				</form>
			</span>
		</div>
		<nav>
			<ul>
				<div sec:authorize="hasAuthority('ADMIN')">
					<li><a th:href="@{/user-register}" id="userRegister" th:text="#{home.userregister}"></a></li>
				</div>
				<div sec:authorize="hasAnyAuthority('ADMIN', 'USER')">
					<li><a th:href="@{/clients-list}" id="clientsList" th:text="#{home.clientsList}"></a></li>
					<li><a th:href="@{/client-creation}" id="clientCreation" th:text="#{home.clientcreation}"></a></li>
					<li><a th:href="@{/client-status}" id="clientStatus" th:text="#{home.clientstatus}"></a></li>
					<li><a th:href="@{/bulk-status-change}" id="bulkStatusChange"
						th:text="#{home.bulkstatuschange}"></a></li>
					<li><a th:href="@{/client-modification}" id="clientModification"
						th:text="#{home.clientmodification}"></a></li>
					<li><a th:href="@{/client-deletion}" id="clientDeletion" th:text="#{home.clientdeletion}"></a></li>
				</div>
				<li><a th:href="@{/client-accounting}" id="clientAccounting"
					th:text="#{home.clientaccounting}"></a></li>
				<li><a th:href="@{/ip-address-trace}" id="ipAddressTrace" th:text="#{home.ipaddresstrace}"></a></li>
				<li class="right"><a th:href="@{/}" id="home" th:text="#{common.home}" class="active"></a></li>
			</ul>
		</nav>
		<main></main>
		<footer th:replace="fragments/footer.html :: footer"> </footer>
	</div>
</body>
</html>