<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>RADIUS Manager</title>
<link rel="stylesheet" th:href="@{/styles/style.css}" />
<link rel="icon" type="image/png" th:href="@{/images/rubik16x16.png}" sizes="16x16" />
<link rel="icon" type="image/png" th:href="@{/images/rubik32x32.png}" sizes="32x32" />
</head>
<body>
	<div id="container">
		<header>
			<img th:src="@{/images/rubik.png}" alt="Rubik" />
			<h1>Welcome to RADIUS Manager System</h1>
		</header>
		<main></main>
		<aside>
			<div th:inline="text">[[${#httpServletRequest.remoteUser}]]</div>
			<a th:href="@{/login}">Login</a><br>
		</aside>
		<footer></footer>

	</div>
</body>
</html>