<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="/fragments/head.html :: head(#{common.header})"></div>
</head>
<body>
	<div class="container">
		<header>
			<img th:src="@{/images/rubik.png}" alt="Rubik" />
			<h1 th:text="#{home.welcome}"></h1>
		</header>
		<nav>
			<div th:inline="text">[[${#httpServletRequest.remoteUser}]]</div><br>
			<span th:if="${#httpServletRequest.remoteUser}">
				<form method="POST" th:action="@{/logout}" id="logoutForm">
					<input type="submit" th:value="#{common.logout}" />
				</form>
			</span>
			<span th:unless="${#httpServletRequest.remoteUser}">
				<form method="GET" th:action="@{/login}">
					<input type="submit" th:value="#{common.login}" />
				</form>
			</span>
		</nav>
		<aside>
			<a th:href="@{/user-register}" id="userRegister" th:text="#{home.userregister}"></a><br> <a
				th:href="@{/client-creation}" id="clientCreation" th:text="#{home.clientcreation}"></a><br>
			<a th:href="@{/client-status}" id="clientStatus" th:text="#{home.clientstatus}"></a><br> <a
				th:href="@{/client-modification}" id="clientModification" th:text="#{home.clientmodification}"></a><br>
			<a th:href="@{/client-deletion}" id="clientDeletion" th:text="#{home.clientdeletion}"></a><br>
			<a th:href="@{/client-accounting}" id="clientAccounting" th:text="#{home.clientaccounting}"></a>
		</aside>
		<main>Main</main>
		<footer th:replace="/fragments/footer.html :: footer"> </footer>
	</div>
</body>
</html>