<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="/fragments/head.html :: head(#{common.header})"></div>
</head>
<body>
	<div id="container">
		<header>
			<img th:src="@{/images/rubik.png}" alt="Rubik" />
			<h1>RADIUS Manager System</h1>
		</header>
		<main>
			<div th:if="${loginError}" class="errorMessage" th:text="#{login.wrong}"></div>
			<div th:if="${loginLocked}" class="errorMessage" th:text="#{login.locked}"></div>
			<form method="post" th:action="@{/login}" id="loginForm" class="login">
				<fieldset>
					<legend>
						<b th:text="#{login.title}"></b>
					</legend>
					<div class="grid">
						<div>
							<label for="user" th:text="#{login.user}"></label>
							<input type="text" name="user">
						</div>
						<div>
							<label for="password" th:text="#{login.password}"></label>
							<input type="password" name="password">
						</div>
					</div>
					<br>
					<input type="submit" th:value="#{common.login}" />
				</fieldset>
			</form>
		</main>
		<footer th:replace="/fragments/footer.html :: footer"> </footer>
	</div>
</body>
</html>