<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/head.html :: head(#{clientdeletion.title})"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script type="text/javascript" src="/scripts/client_search.js"></script>
</head>
<body>
	<div class="container">
		<header>
			<img th:src="@{/images/rubik.png}" alt="Rubik" />
			<h1>RADIUS Manager System</h1>
		</header>
		<nav>
			<ul>
				<li class="right"><a th:href="@{/}" id="home" th:text="#{common.home}"></a></li>
			</ul>
		</nav>
		<main>
			<form method="post" id="form" th:action="@{/client-deletion}" th:object="${client}">
				<fieldset>
					<legend>
						<b th:text="#{clientdeletion.title}"></b>
					</legend>
					<div th:if="${exception}" class="errorMessage" th:text="#{${exception}}"></div>
					<input type="hidden" id="id" th:field="*{id}">
					<div class="row">
						<div class="column">
							<label for="number" th:text="#{clientdeletion.number}"></label>
						</div>
						<div class="column">
							<input type="text" id="number" name="number" th:field="*{number}">
						</div>
						<span class="errorMessage" th:if="${#fields.hasErrors('number')}" th:errors="*{number}"></span>
					</div>
					<div class="row">
						<div class="column">
							<label for="name" th:text="#{clientdeletion.name}"></label>
						</div>
						<div class="column">
							<input type="text" id="name" name="name" th:field="*{name}">
						</div>
						<span class="errorMessage" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
					</div>
					<input type="hidden" id="password" name="password" th:field="*{password}">
					<select id="radusergroup" name="radUserGroup" th:field="*{radUserGroup}" hidden="true">
						<option value="0" th:text="#{common.select}" />
						<option th:each="radUserGroup : ${radUserGroupList}" th:text="${radUserGroup.userName}"
							th:value="${radUserGroup.id}" />
					</select>
					<input type="hidden" id="ipaddress" name="ipAddress" th:field="*{ipAddress}">
					<input type="checkbox" id="suspended" name="suspended" th:field="*{suspended}" hidden="true">
					<div class="row">
						<input type="submit" th:value="#{clientdeletion.delete}" class="toggleable" />
					</div>
				</fieldset>
			</form>
		</main>
		<footer th:replace="fragments/footer.html :: footer"> </footer>
	</div>
</body>
</html>
