<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="/fragments/head.html :: head(#{clientmodification.title})"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script type="text/javascript" src="/scripts/client_search.js"></script>
<script>
	function disable() {
		$(".toggleable").prop("disabled", true);
	}
</script>
</head>
<body>
	<div id="container">
		<header>
			<img th:src="@{/images/rubik.png}" alt="Rubik" />
			<h1>RADIUS Manager System</h1>
		</header>
		<main>
			<div th:if="${exception}" class="errorMessage" th:text="#{${exception}}"></div>
			<form method="post" id="form" th:action="@{/client-modification}" th:object="${client}">
				<fieldset>
					<legend>
						<b th:text="#{clientmodification.title}"></b>
					</legend>
					<div class="grid">
						<input type="hidden" id="id" th:field="*{id}">
						<div>
							<label for="number" th:text="#{clientmodification.number}"></label>
							<input type="text" id="number" name="number" th:field="*{number}">
							<span class="errorMessage" th:if="${#fields.hasErrors('number')}" th:errors="*{number}"></span>

						</div>
						<div>
							<label for="name" th:text="#{clientmodification.name}"></label>
							<input type="text" id="name" name="name" th:field="*{name}">
							<span class="errorMessage" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
						</div>
						<div>
							<label for="password" th:text="#{clientmodification.password}"></label>
							<input type="text" id="password" name="password" th:field="*{password}" class="toggleable">
							<span class="errorMessage" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
						</div>
						<div>
							<label for="radusergroup" th:text="#{clientmodification.radusergroup}"></label> <select
								id="radusergroup" name="radUserGroup" th:field="*{radUserGroup}" class="toggleable">
								<option value="0" th:text="#{common.select}" />
								<option th:each="radUserGroup : ${radUserGroupList}" th:text="${radUserGroup.userName}"
									th:value="${radUserGroup.id}" />
							</select>
							<span class="errorMessage" th:if="${#fields.hasErrors('radUserGroup')}"
								th:errors="*{radUserGroup}"></span>
						</div>
						<div>
							<label for="ipaddress" th:text="#{clientmodification.ipaddress}"></label>
							<input type="text" id="ipaddress" name="ipAddress" th:field="*{ipAddress}" class="toggleable">
							<span class="errorMessage" th:if="${#fields.hasErrors('ipAddress')}" th:errors="*{ipAddress}"></span>
						</div>
						<div>
							<label for="suspended" th:text="#{clientmodification.suspended}"></label>
							<input type="checkbox" id="suspended" name="suspended" th:field="*{suspended}"
								class="toggleable">
						</div>
						<input type="reset" th:value="#{clientstatus.reset}" onclick="disable()" />
						<input type="submit" th:value="#{clientmodification.modify}" class="button toggleable" />
					</div>
				</fieldset>
			</form>
		</main>
		<aside>
			<a th:href="@{/}" id="home" th:text="#{common.home}"></a>
		</aside>
		<footer th:replace="/fragments/footer.html :: footer"> </footer>
	</div>
</body>
</html>