<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/head.html :: head(#{clientcreation.title})"></div>
</head>
<body>
	<div class="container">
		<header>
			<img th:src="@{/images/rubik.png}" alt="Rubik" />
			<h1>RADIUS Manager System</h1>
		</header>
		<nav>
			<ul>
				<li class="right"><a th:href="@{/}" id="home" th:text="#{common.home}"></a></li>
			</ul>
		</nav>
		<main>
			<form method="post" th:action="@{/client-creation}" th:object="${client}">
				<fieldset>
					<legend>
						<b th:text="#{clientcreation.title}"></b>
					</legend>
					<div th:if="${exception}" class="errorMessage" th:text="#{${exception}}"></div>
					<div class="row">
						<div class="column">
							<label for="number" th:text="#{clientcreation.number}"></label>
						</div>
						<div class="column">
							<input type="text" id="number" th:field="*{number}">
						</div>
						<span class="errorMessage" th:if="${#fields.hasErrors('number')}" th:errors="*{number}"></span>
					</div>
					<div class="row">
						<div class="column">
							<label for="name" th:text="#{clientcreation.name}"></label>
						</div>
						<div class="column">
							<input type="text" id="name" th:field="*{name}">
						</div>
						<span class="errorMessage" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
					</div>
					<div class="row">
						<div class="column">
							<label for="password" th:text="#{clientcreation.password}"></label>
						</div>
						<div class="column">
							<input type="text" id="password" th:field="*{password}">
						</div>
						<span class="errorMessage" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
					</div>
					<div class="row">
						<div class="column">
							<label for="radusergroup" th:text="#{clientcreation.radusergroup}"></label>
						</div>
						<div class="column">
							<select id="radusergroup" th:field="*{radUserGroup}">
								<option value="" th:text="#{common.select}" />
								<option th:each="radUserGroup : ${radUserGroupList}" th:text="${radUserGroup.userName}"
									th:value="${radUserGroup.id}" />
							</select>
						</div>
						<span class="errorMessage" th:if="${#fields.hasErrors('radUserGroup')}"
							th:errors="*{radUserGroup}"></span>
					</div>
					<div class="row">
						<div class="column">
							<label for="ipaddress" th:text="#{clientcreation.ipaddress}"></label>
						</div>
						<div class="column">
							<input type="text" id="ipaddress" th:field="*{ipAddress}">
						</div>
						<span class="errorMessage" th:if="${#fields.hasErrors('ipAddress')}" th:errors="*{ipAddress}"></span>
					</div>
					<div class="row">
						<div class="column">
							<label for="suspended" th:text="#{clientcreation.suspended}"></label>
						</div>
						<div class="column">
							<input type="checkbox" id="suspended" th:field="*{suspended}">
						</div>
					</div>
					<div class="row">
						<input type="submit" th:value="#{clientcreation.create}" />
					</div>
				</fieldset>
			</form>
		</main>
		<footer th:replace="fragments/footer.html :: footer"> </footer>
	</div>
</body>
</html>