<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="/fragments/head.html :: head(#{clientaccountinglist.title})"></div>
</head>
<div class="container">
	<header>
		<img th:src="@{/images/rubik.png}" alt="Rubik" />
		<h1>RADIUS Manager System</h1>
	</header>
	<main>
		<table>
			<thead>
				<tr>
					<th th:text="#{clientaccountinglist.acctstarttime}" />
					<th th:text="#{clientaccountinglist.acctstoptime}" />
					<th th:text="#{clientaccountinglist.acctsessiontime}" />
					<th th:text="#{clientaccountinglist.acctterminatecause}" />
					<th th:text="#{clientaccountinglist.acctinputoctets}" />
					<th th:text="#{clientaccountinglist.acctoutputoctets}" />
					<th th:text="#{clientaccountinglist.callingstationid}" />
					<th th:text="#{clientaccountinglist.framedipaddress}" />
				</tr>
			</thead>
			<tbody>
				<tr th:each="accounting : ${accountingList}">
					<td th:text="${accounting.acctStartTime}"></td>
					<td th:text="${accounting.acctStopTime}"></td>
					<td th:text="${accounting.acctSessionTime}"></td>
					<td th:text="${accounting.acctTerminateCause}"></td>
					<td th:text="${accounting.acctInputOctets}"></td>
					<td th:text="${accounting.acctOutputOctets}"></td>
					<td th:text="${accounting.callingStationId}"></td>
					<td th:text="${accounting.framedIpAddress}"></td>
				</tr>
			</tbody>
		</table>
		<div th:if="${totalPages > 1}"
			th:with="queryString='?number=' + ${param.number} + '&name=' + ${param.name}">
			<div class="row col-sm-10">
				<div class="col-sm-2">Total Rows: [[${totalItems}]]</div>
				<div class="col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}"
							th:href="@{'/client-accounting/list' + ${queryString} + '&order=' + ${i}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>
						&nbsp; &nbsp;
					</span>
				</div>
				<div class="col-sm-1">
					<a th:if="${currentPage < totalPages}"
						th:href="@{'/client-accounting/list' + ${queryString} + '&order=' + ${currentPage + 1}}">Next</a>
					<span th:unless="${currentPage < totalPages}">Next</span>
				</div>

				<div class="col-sm-1">
					<a th:if="${currentPage < totalPages}"
						th:href="@{'/client-accounting/list' + ${queryString} + '&order=' + ${totalPages}}">Last</a>
					<span th:unless="${currentPage < totalPages}">Last</span>
				</div>
			</div>
		</div>
	</main>
	<aside>
		<a th:href="@{/}" id="home" th:text="#{common.home}"></a>
	</aside>
	<footer th:replace="/fragments/footer.html :: footer"> </footer>
</div>
</body>
</html>