<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head.html :: head(#{userregister.title})"></head>
<body>
	<div id="container">
		<header>
			<img th:src="@{/images/rubik.png}" alt="Rubik" />
			<h1>RADIUS Manager System</h1>
		</header>
		<main>
			<div th:if="${exception}" class="errorMessage" th:text="#{${exception}}"></div>
			<form method="post" th:action="@{/user-register}" th:object="${userRegister}">
				<fieldset>
					<legend>
						<b th:text="#{userregister.title}"></b>
					</legend>
					<div class="grid">
						<div>
							<label for="user" th:text="#{userregister.user}"></label>
							<input type="text" id="user" th:field="*{name}">
							<span class="errorMessage" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>

						</div>
						<div>
							<label for="password" th:text="#{userregister.password}"></label>
							<input type="password" id="password" th:field="*{password}">
							<span class="errorMessage" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
						</div>
						<div>
							<label for="confirmpassword" th:text="#{userregister.confirmpassword}"></label>
							<input type="password" id="confirmpassword" th:field="*{confirmPassword}">
							<span class="errorMessage" th:if="${#fields.hasErrors('confirmPassword')}"
								th:errors="*{confirmPassword}"></span>
						</div>
						<div>
							<label for="authority" th:text="#{userregister.authority}"></label> <select id="authority"
								th:field="*{authorities}">
								<option value="" th:text="#{common.select}" />
								<option th:each="authority : ${authorities}" th:text="${authority.name}"
									th:value="${authority.id}" />
							</select>
							<span class="errorMessage" th:if="${#fields.hasErrors('authorities')}"
								th:errors="*{authorities}"></span>
						</div>
						<div>
							<label for="enabled" th:text="#{userregister.enabled}"></label>
							<input type="checkbox" id="enabled" th:field="*{enabled}">
						</div>
						<div>
							<label for="firstname" th:text="#{userregister.firstname}"></label>
							<input type="text" id="firstname" th:field="*{firstName}">
							<span class="errorMessage" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
						</div>
						<div>
							<label for="middlename" th:text="#{userregister.middlename}"></label>
							<input type="text" id="middlename" th:field="*{middleName}">
						</div>
						<div>
							<label for="lastname" th:text="#{userregister.lastname}"></label>
							<input type="text" id="lastname" th:field="*{lastName}">
							<span class="errorMessage" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
						</div>
						<input type="submit" th:value="#{userregister.register}" class="button" />
					</div>
				</fieldset>
			</form>
		</main>
		<aside>
			<a th:href="@{/}" id="home" th:text="#{common.home}"></a>
		</aside>
		<footer th:replace="/fragments/footer.html :: footer"> </footer>
	</div>
</body>
</html>