<th:block th:fragment="head(title)">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title th:text="${title}"></title>
	<!-- Favicon -->
	<link rel="icon" type="image/png" th:href="@{/images/rubik16x16.png}" sizes="16x16" />
	<link rel="icon" type="image/png" th:href="@{/images/rubik32x32.png}" sizes="32x32" />
	<!-- Style sheets -->
	<link rel="stylesheet" th:href="@{/styles/style.css}" />
	<!-- Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=David+Libre&display=swap" rel="stylesheet">
</th:block>