<head th:fragment="head(title)">
<meta charset="UTF-8">
<title th:text="${title}"></title>
<link rel="stylesheet" th:href="@{/styles/style.css}" />
<link rel="icon" type="image/png" th:href="@{/images/rubik16x16.png}" sizes="16x16" />
<link rel="icon" type="image/png" th:href="@{/images/rubik32x32.png}" sizes="32x32" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=David+Libre&display=swap" rel="stylesheet">
</head>