@charset "UTF-8";

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background-image: linear-gradient(to right, rgba(51, 102, 153, 0.2),
		rgb(77, 114, 151));
}

#container {
	display: grid;
	grid-template-columns: 90%;
	justify-content: center;
	gap: 1%;
}

header, main, aside, footer {
	padding: 1%;
}

header {
	justify-content: center;
}

header h1 {
	display: inline;
}

aside a {
	color: blue;
}

form.center {
	margin: auto;
	width: 60%;
	padding: 10% 0;
}

.grid:after {
	content: "";
	display: table;
	clear: both;
}

label {
	display: inline-block;
	width: 40%;
	text-align: right;
	padding: 1%;
}

input.button {
	float: right;
}

.errorMessage {
	color: red
}

@media screen and (min-width: 600px) {
	#container {
		grid-template-columns: 70% 20%;
	}
	header, footer {
		grid-column: 1/span 2;
	}
	/*	main {
		display: flex;
		flex-wrap: wrap;
	}*/
	.column {
		flex: 33%;
	}
	article {
		margin: 2%;
		padding: 2%;
	}
}

@media screen and (min-width: 992px) {
	.column {
		flex: 25%;
	}
}